@import url("https://fonts.googleapis.com/css2?family=Mozilla+Text:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:wght@500&display=swap");

:root{
  --a:0
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Roboto";
  text-decoration: none;
}

body {
  background-color: #000;
  color: #fff;
}

.main_container {
  display: flex;
  height: 100vh;
  /* overflow-y: hidden; */
}

/*Left Section*/

.left {
  width: 25vw;
}

.home ul li span {
  color: #a9a8a8;
  cursor: pointer;
  font-weight: 500;
}

.home ul li span:hover {
  color: #fff;
}

.home ul li img {
  height: 18px;
  width: 18px;
  margin: 10px 15px 0 10px;
}

.Logo {
  width: 30px;
  margin: 5px;
}

.close {
  display: none;
}

.library {
  height: 100%;
  flex-direction: column;
  /* justify-content: space-between; */
  max-height: 73vh;
  position: relative;
}

.library_head {
  justify-content: space-between;
}

.add_btn {
  width: 15px;
}

.song_list {
  overflow-y: scroll;
  max-height: 55vh;
}

.song_list ul {
  padding: 20px;
}

.song_list ul li {
  height: 9vh;
  list-style-type: decimal;
  gap: 15px;
  border-radius: 4px;
  margin: 0px -10px 0px -20px;
  padding: 10px;
  position: relative;
  font-size: 0.65rem;
}

.song_list ul li:hover {
  background-color: #212121;
  font-size: 0.66rem;
}

.song_info_details {
  width: 160px;
}

.lib-btn {
  position: absolute;
  right: 10px;
  cursor: pointer;
}

.library_footer {
  position: absolute;
  bottom: 0;
}

.library_footer a {
  color: #a9a8a8;
  font-size: 0.5rem;
  margin: 0 10px 0 0;
}

/*Right Section*/

.right {
  width: 75vw;
  margin: 10px 10px 10px 0px;
  position: relative;
}

/*Right Header*/

.header {
  justify-content: space-between;
  height: 55px;
}

.menu {
  display: none;
}

.signup {
  border: none;
  color: #a9a8a8;
  margin-right: 15px;
  font-size: 0.7rem;
  font-weight: bold;
}

.signup:hover {
  color: #fff;
  font-size: 0.73rem;
}

.login {
  background-color: #fff;
  border: none;
  width: 70px;
  height: 35px;
  border-radius: 20px;
  color: #000;
  font-weight: bold;
  font-size: 0.7rem;
  transition: all 0.25s ease-out;
}

.login:hover {
  background-color: #000;
  color: #fff;
}

/*Spotify Playlists*/

.spotify_playlist {
  padding: 20px 15px 15px 30px;
}

.playlist_head {
  color: #fff;
}

.playlist_head:hover {
  text-decoration: underline;
  text-decoration-thickness: 1.75px;
}

.card_container {
  margin-top: 10px;
  flex-wrap: wrap;
  max-height: 65vh;
  overflow-y: auto;
}

/*Scroll Bar*/

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #0a0a0a; /* dark background */
}

::-webkit-scrollbar-thumb {
  background: #444; /* medium gray */
  /* border-radius: 10px; */
}

::-webkit-scrollbar-thumb:hover {
  background: #666; /* lighter on hover */
}

.card {
  width: 150px;
  padding: 3px 8px 8px 8px;
  position: relative;
}

.card:hover {
  background-color: #212121;
  border-radius: 8px;
  --a:1
}

.play_btn {
  position: absolute;
  top: 100px;
  right: 15px;
  opacity: var(--a);
  transition: all 0.45s ease-out;
}

.play_btn_img {
  background: #75fb4c; /*rgb(8, 220, 8)*/
  border-radius: 100%;
  height: 30px;
  width: 30px;
}

.song_img {
  width: 100%;
  object-fit: contain;
  border-radius: 8px;
}

.card > * {
  padding-top: 5px;
}

.song_artists {
  font-size: 0.65rem;
  color: #a9a8a8;
}

/*play bar */

.playbar {
  position: absolute;
  bottom: 0;
  background-color: rgb(2, 30, 2); /*rgb(2, 30, 2)*/
  width: 100%;
  height: 65px;
  padding: 12px;
  border-radius: 0 0 10px 10px;
}

.up_sec_playbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.song_btn {
  flex: 0 0 120px; /* fixed width for buttons */
  gap: 15px; /* spacing between buttons */
}

.song_details {
  flex: 1;
  max-width: 250px; /* fixed space for title */
  overflow: hidden;
  text-overflow: ellipsis; /* adds "..." if too long */
  white-space: nowrap;
}

.up_sec_playbar_right {
  gap: 10px;
}

.song_time {
  /* flex: [flex-grow] [flex-shrink] [flex-basis]; */
  flex: 0 0 100px; /* fixed width for duration */

  text-align: right;
}

.song_volume {
  gap: 5px;
}

.vol_range {
  width: 100px;
  height: 5px;
}

.vol_btn {
  margin-left: 10px;
  height: 24px;
}

.seek_time {
  margin-top: 10px;
  width: 100%;
  height: 4px;
  background-color: #fff;
  border-radius: 5px;
}

.circle {
  position: relative;
  left: 0%;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background-color: #fff;
  transition: left 0.3s ease-in;
}

/*Responsiveness*/

@media (max-width: 1000px) {
  .left {
    position: absolute;
    left: -100%;
    transition: all 0.3s ease-in;
    z-index: 1;
    background-color: #000;
    width: 300px;
    height: 100vh;
  }

  .close {
    display: block;
    position: absolute;
    top: 15px;
    right: 15px;
  }

  .right {
    width: 100vw;
  }

  .menu {
    display: block;
    margin-right: 10px;
  }
}

@media (max-width: 620px) {
  .song_details {
    font-size: 0.65rem;
  }

  .song_time {
    font-size: 0.65rem;
  }

  .card_container {
    max-height: 75vh;
  }
}

 @media (max-width: 520px) {
  .vol_btn{
    margin-left: 0px;
    height: 18px;
  }

  .song_time{
    flex: 0 0 65px;
  }

  .vol_range{
    width: 65px;
    height: 2px;
  }

  .seek_time{
    height: 3px;
  }
} 

/* @media (max-width: 450px) {
  .song_details {
    font-size: 0.5rem;
  }

  .song_time {
    width: 44px;
    font-size: 0.5rem;
    margin-left: 15px;
  }
} */
/* 
@media (max-width: 415px) {
  .song_time {
    font-size: 0.45rem;
  }
} */

@media (max-width: 370px) {
  .card {
    width: 300px;
  }
  .play_btn {
    top: 230px;
  }
  .playlists_btn {
    height: 50px;
    width: 50px;
  }
}

/* Responsive till 300px */